/*GENERAL*/

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #1B263B;
    color: white;
    padding: 20px;
}
  
h1, h2 {
    margin-bottom: 20px;
    color: #ADD8E6;
}
  
p {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

.btn:hover {
    color: orangered;
}



.box .buttons {
    
    display: flex;
    justify-content: center; 
    gap: 50px; 
}


.container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 50px;
    flex-wrap: wrap;
    
}


.box {
    background-color: #415A77;
    border-radius: 8px;
    padding: 20px;
    flex: 1; 
    color: #E0E1DD;
    
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    
    
}

.box h2 {
    color: #ADD8E6;
}




/*forms*/
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #415A77; 
    padding: 20px;
    border-radius: 8px;
    margin-left: -10px;
    
}


form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white; 
}


form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1B263B; 
    color: #3498db;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}


form button[type="submit"]:hover {
    color: orangered;
}

/*the list*/

.skills-container, .projects-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
    
}

.skills-container {
    
    margin-left: -15em;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
}

li {
    background-color: #415A77; 
    border-radius: 6px;
    padding: 15px;
    margin: 10px; 
    width: calc(40% - 20px); 
    color: #E0E1DD; 
    display: flex;
    flex-direction: column; 
}

li strong {
    font-size: 18px;
    color: #ADD8E6; 
}

li p {
    margin: 5px 0; 
    font-size: 16px;
    color: #ADD8E6; 
}

li a {
    margin-top: 10px; 
    color: #3498db;
    text-decoration: none; 
    font-weight: bold; 
}


li a:hover {
    color: orangered; 
}


/*footer styling*/

#footer {
    margin-top: 20px;
}

/*responsive styling */

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .box {
        width: 90%; 
    }

    form {
        width: 90%; 
    }

    li {
        width: calc(90% - 20px); 
    }
}

@media (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}